* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 110%;
}

body {
    background-image: linear-gradient(rgba(154, 106, 202, 0.945), rgb(31, 3, 51));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    margin: 0;
    font-family: "Dosis", sans-serif;
    font-size: 2vw;
}

#Wether_container {
    max-width: 32vw;
    background-color: rgba(135, 57, 174, 0.944);
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 0 8px 32px black;
    backdrop-filter: blur(10px);
    border: none;
    text-align: center;
    margin-bottom: 1vw;
}

h2, label, p {
    color: #fff;
    margin: 0vw 0; /* Adjust the margin as needed */
}

input {
    width: 28vw;
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

button {
    background: #d0a7eb9b;
    color: white;
    padding: 1vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1vw;
    width: 10vw;
    font-size: 1vw;
    margin-bottom: 1vw;
}

button:hover {
    background: #8b48d7;
}

#temp-div p {
    font-size: 3vw;
    margin-top: -0.5vw; /* Adjust the margin as needed */
    margin-bottom: 0.5vw; /* Adjust the margin as needed */
    padding: 0.1vw;
}

#weather-info {
    font-size: 2vw;
    padding: 0.1vw;
    margin-bottom: 1vw;
}

#weather-icon {
    width: 13vw;
    height: 13vw;
    margin: 0 auto 5px;
    margin-bottom: 0;
    display: none;
    padding: 0.1vw;
}

#hourly-forcast {
    margin-top: 1vw;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.hourly-items {
    flex: 0 0 auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vw; /* Adjust the margin as needed */
    color: white;
    font-size: 10px;
    padding: 2px;
}

.hourly-items img {
    height: 50px;
    width: 50px;
}

.hourly-temperature {
    font-size: 20px;
    padding: 0.5px;
}

.hourly-time {
    font-size: 20px;
}